<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>ML demo</title>

</head>

<body>
	<form id="form">
		<label for="Pregnancies">Pregnancies:</label><br>
		<input type="text" id="Pregnancies" value="6"><br><br>
		<label for="Glucose">Glucose:</label><br>
		<input type="text" id="Glucose" value="148"><br><br><br>
		<label for="BloodPressure">BloodPressure:</label><br>
		<input type="text" id="BloodPressure" value="72"><br><br>
		<label for="SkinThickness">SkinThickness:</label><br>
		<input type="text" id="SkinThickness" value="35"><br><br>
		<label for="Insulin">Insulin:</label><br>
		<input type="text" id="Insulin" value="0"><br><br>
		<label for="BMI">BMI:</label><br>
		<input type="text" id="BMI" value="33"><br><br>
		<label for="DiabetesPedigreeFunction">DiabetesPedigreeFunction:</label><br>
		<input type="text" id="DiabetesPedigreeFunction" value="0.62"><br><br>
		<label for="Age">Age:</label><br>
		<input type="text" id="Age" value="35"><br>

		<br>
		<input type="submit" id="submit" value="Submit">
	</form>

	<p id="result"></p>
	<br>
	<p> were we correct? </p>
	<button id="yes">Yes</button>
	<button id="no">No</button>

	

	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="/static/index.js"></script>
</body>

</html>